@import "./custom_colors";

.notes {
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-top: 0px;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.list-i{
  background: #e5e5e5;
  padding: 10px;
}

.is-active{
  background: $custom-purple;
  // border: 2px solid red
}
.notes-list {
  // background: red;
}

.notes-editor {
  padding: 0;
  height: calc(100% - 43px);

  .quill {
    height: 100%;
  }
}
